<project>
    <actions/>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator">
            <optOut>false</optOut>
        </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    </properties>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <customWorkspace>/pipelineJob</customWorkspace>
    <builders>
        <hudson.tasks.Shell>
            <command>#!/bin/bash
                if [ ! -d &quot;/var/jenkins_home/jobs/pipelineJob/&quot; ]; then
                mkdir /var/jenkins_home/jobs/pipelineJob/
                mkdir /var/jenkins_home/jobs/pipelineJob/workspace/
                fi
                if [ -e /var/jenkins_home/jobs/pipelineJob/workspace/* ]; then
                rm -r /var/jenkins_home/jobs/pipelineJob/workspace/*
                fi
                if [[ ! -z "$(ls -A)" ]] ; then
                cp -r /pipelineJob/* /var/jenkins_home/jobs/pipelineJob/workspace/
                fi
            </command>
        </hudson.tasks.Shell>
        <javaposse.jobdsl.plugin.ExecuteDslScripts plugin="job-dsl">
            <scriptText>pipelineJob(&apos;pipelineJob&apos;) {
                definition {
                cps {
                script(readFileFromWorkspace(&apos;Jenkinsfile&apos;))
                sandbox()
                }
                }
                }
            </scriptText>
            <usingScriptText>true</usingScriptText>
            <sandbox>false</sandbox>
            <ignoreExisting>false</ignoreExisting>
            <ignoreMissingFiles>false</ignoreMissingFiles>
            <failOnMissingPlugin>false</failOnMissingPlugin>
            <unstableOnDeprecation>false</unstableOnDeprecation>
            <removedJobAction>DELETE</removedJobAction>
            <removedViewAction>IGNORE</removedViewAction>
            <removedConfigFilesAction>IGNORE</removedConfigFilesAction>
            <lookupStrategy>JENKINS_ROOT</lookupStrategy>
        </javaposse.jobdsl.plugin.ExecuteDslScripts>
    </builders>
    <publishers>
        <hudson.tasks.BuildTrigger>
            <childProjects>pipelineJob</childProjects>
            <threshold>
                <name>SUCCESS</name>
                <ordinal>0</ordinal>
                <color>BLUE</color>
                <completeBuild>true</completeBuild>
            </threshold>
        </hudson.tasks.BuildTrigger>
    </publishers>
    <buildWrappers/>
</project>